# эта ветка для выкладки сборки на гитхаб пейджес!


# следить за всеми типами данных!
!*.*

# не следить за пакетами ноды!
/node_modules/

# все-таки НЕ следить за результатом сборки парселя поскольку нужно сборку руками копировать в корень((
/dist/

# не следить за кешем парселя!
/.parcel-cache/

# не следить за ярлыками запуска
*.cmd

# не следить за результатом вывода на печать!
/to-print/

# убрать из продакшена каталог файлов-исходников!
/src/

# убрать из продакшена пакаджейсон!
package.json
package-lock.json

# убрать из продакшена саурс мапы!
*.map

# убрать из продакшена файл доработок!
UNFINISHED.xls