# этот проект вращающихся кубов для выклада на гитхаб и отладки readme.md


# следить за всеми типами данных!
!*.*

# не следить за пакетами ноды!
/node_modules/

# следить за результатом сборки парселя!!!
!/dist/

# не следить за кешем парселя!
/.parcel-cache/

# не следить за ярлыками запуска
*.cmd

# не следить за результатом вывода на печать!
/to-print/

# убрать из продакшена каталог файлов-исходников!
/src/

# убрать из продакшена пакаджейсон!
package.json
package-lock.json

# убрать из продакшена саурс мапы!
*.map