doctype html
html(lang='ru')
  head
    title Журнал для записи показаний приёмников в пультовой
    meta(charset='UTF-8')
    link(rel='icon' type='image/png' href='favicon.png')
    script(defer='defer' type='module' src='index.js')
  body
    .allthereis
