@import "reset.scss"; /* сброс стилей по умолчанию */
@import "fonts.scss"; /* собственные шрифты */
@import "print.scss"; /* стили для печати содержимого */


body {
    background: linear-gradient(90deg, #652b97, #430b73);

    .allthereis {
        $indent-X: 1vw;
        $indent-Y: 2vh;
        $num-of-columns: 100;
        $num-of-rows: 31;

        position: relative;
        top: $indent-Y;
        left: $indent-X;
        width: 100vw -$indent-X*2;
        height: 100vh -$indent-Y*2;
        box-sizing: border-box;
        overflow: hidden;
        background-color: white;
        display: grid;
        grid-template-columns: repeat($num-of-columns, 1fr);
        grid-template-rows: repeat($num-of-rows, 1fr);
        gap: 0 0;

        .cellOfTable {
            font-family: minecraft;
            font-size: 1.5vh;
            background-color: yellow;
            border: 1px black solid;
            text-align: center;
        }

        .cellOfTableNamed {
            font-family: minecraft;
            text-align: center;
            text-transform: none;
            font-size: 2.2vh;
            font-weight: bold;
            line-height: 4vh;
            background-color: green;
            border: 2px black solid;
        }
    }

    %buttons {
        position: absolute;
        top: 1vh;
        z-index: 2;
        border-radius: 1vh;
        color: #338800;
        background-color: red;
    }
    .changePage {
        @extend %buttons;
        left: 1vh;
    }
    .changeMonthForward {
        @extend %buttons;
        left: 120vh;
    }
    .changeMonthBackward {
        @extend %buttons;
        left: 70vh;
    }
    .printPage {
        @extend %buttons;
        left: 170vh;
    }

}