@import "reset.scss"; /* сброс стилей по умолчанию */
@import "fonts.scss"; /* собственные шрифты */
@import "print.scss"; /* стили для печати содержимого */


body {
    background: linear-gradient(90deg, #652b97, #430b73);

    .allthereis {
        $indent-X: 1vw;
        $indent-Y: 2vh;
        $num-of-columns: 100;
        $num-of-rows: 31;

        position: relative;
        top: $indent-Y;
        left: $indent-X;
        width: 100vw -$indent-X*2;
        height: 100vh -$indent-Y*2;
        box-sizing: border-box;
        overflow: hidden;
        background-color: white;
        display: grid;
        grid-template-columns: repeat($num-of-columns, 1fr);
        grid-template-rows: repeat($num-of-rows, 1fr);
        gap: 0 0;

        .cellOfTable {
            font-family: minecraft;
            font-size: 1.5vh;
            background-color: yellow;
            border: 1px black solid;
            text-align: center;
        }

        %forCellNamed {
            font-family: minecraft;
            text-align: center;
            text-transform: none;
            font-size: 3vh;
            font-weight: bold;
            line-height: 4vh;
            background-color: green;
            border: 2px black solid;
        }
        .cellNamed {
            @extend %forCellNamed;
        }
        .cellNamedDate {
            @extend %forCellNamed;
            font-size: 2.2vh;
        }
        .cellNamedParameter{
            @extend %forCellNamed;
            font-size: 1.8vh;
        }
        .cellNamedPacket{
            @extend %forCellNamed;
            font-size: 2.1vh;
        }
    }

    %buttons {
        position: absolute;
        top: 1vh;
        width: 7vh;
        height: 4vh;
        z-index: 2;
        text-transform: uppercase;
        border-radius: 1vh;
        color: black;
        background-color: #00cc00;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

    }
    .changePage {
        @extend %buttons;
        right: 28vh;
        background-image: url('./icons/page.svg');
    }
    .changeMonthBackward {
        @extend %buttons;
        right: 20vh;
        background-image: url('./icons/month-down.svg');
    }
    .changeMonthForward {
        @extend %buttons;
        right: 12vh;
        background-image: url('./icons/month-up.svg');
    }
    .printPage {
        @extend %buttons;
        right: 4vh;
        background-image: url('./icons/print.svg');
    }

    .logo {
        position: absolute;
        width: 15vh;
        height: 8vh;
        left: 1vw;
        top: 2vh;
        background-image: url('./icons/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90%;
        background-color: green;
        border: 2px black solid;
        z-index: 2;
    }

}